{% extends 'main/base.html' %}
{% load static %}
{% block article %}

    <div class="bandeau">
        <div class="titre">
        <div class="fleche"></div>
            <h2>{{ data.accueil.title }}</h2>
            <img src="/static/main/images/logo_cible.png" alt="logo" class="ico_categorie" />
        </div>
    </div>

    <div class="paragraphe">
        <div class="bande">&nbsp;</div>
        <div class="bulle">
            <p>{{ data.accueil.description1 }}</p>
            <p>{{ data.accueil.description2 }}</p>
        </div>
    </div>
{% endblock %}